.material-icons.mat-18 { font-size: 18px; }
.material-icons.mat-24 { font-size: 24px; }
.material-icons.mat-30 { font-size: 30px; }
.material-icons.mat-48 { font-size: 48px; }

.snavfix {
    position: fixed;
    top: 50px;
    left:0px;
    height: calc(100% - 50px);
    // width: 100%;
    // min-width: 260px;
    width: 260px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    mat-list-item {
        cursor:pointer; 
        margin:0 auto; 
        display:flex; 
        justify-content: left ;
        align-items:center;
        padding-left: 0px;
        // color: gray;
        i {
            width:24px;
        }
        p {
            padding-left: 6%;
            padding-top: 13px;
        }
    }
    mat-toolbar {
        padding: 0px;
    }
    mat-toolbar-row {
        display: flex;
        // justify-content:flex-start;
        align-content: flex-start;
        margin-bottom: 0;
        // margin-top: 10px;
        height: 35px;

        button {
            width: 100%;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            padding-left: 10%;
            i {
                padding-bottom: 3px;
                padding-right: 5px;
            }
        }
      
    }

}
// work for sidebar
.mainframe {
    transform: none !important;
    margin-top: 50px;
    background: #ffffff;
    overflow: hidden
}
.self-image {
    background-image: url('../../assets/img/mona.png');
    background-size: cover;
}
.linkedin-icon {
    background-image: url('../../assets/img/png/linkedin.png');
    background-size: cover;
    height: 20px;
    width: 20px;
    display: block;
    cursor: pointer;
}

.github-icon {
    background-image: url('../../assets/img/png/github.png');
    background-size: cover;
    height: 20px;
    width: 20px;
    display: block;
    cursor: pointer;
    
}



.main{
min-height:  calc(100vh - 110px); 
}


@media(max-width:601px) {
   .snavfix {
       top: 50px;
   }
}

.toptoolbar {
    display:flex; 
    flex-direction:column; 
    height:20%; 
    min-height:150px; 
    margin-bottom:15px
}

.side-profile {
    display:flex; 
    flex-direction:row;
    margin-top:40px; 
    width:100%;
    .profile-container {
        display:flex; 
        flex-direction:row;
        justify-content:flex-start;  
        padding-left:25px;
        .profile-img {
            height:60px; 
            width:60px;
             margin:0px;
        }
    }
    .quicklink {
        margin-left:30px; 
        width:25%; 
        height:50px; 
        margin-top:30px; 
        display:flex; 
        flex-direction:row; 
        justify-content:space-around;
        a {
            height:20px; width:20px;
        }
    }
}
.sidelink {
    margin-bottom:15px
}