.snavfix {
    position: fixed;
    top: 64px;
    left:0px;
    height: 100%;
    width: 25%;
    min-width: 120px;
    max-width: 225px;
    md-list-item {
        cursor:pointer; 
        margin:0 auto; 
        display:flex; 
        justify-content: left ;
        align-items:center;
        padding-left: 0px;
        // color: gray;
        i {
            width:24px;
        }
        p {
            padding-left: 6%;
            padding-top: 13px;
        }
    }
    md-toolbar {
        padding: 0px;
    }
    md-toolbar-row {
        display: flex;
        // justify-content:flex-start;
        align-content: flex-start;
        margin-bottom: 0;
        // margin-top: 10px;
        height: 35px;

        button {
            width: 100%;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            padding: 0px;
            i {
                padding-bottom: 3px;
                padding-right: 5px;
            }
        }
    }

}
// work for sidebar
.mainframe {
    transform: none !important;
    margin-top: 50px;
}
.self-image {
  background-image: url('../../assets/img/city.jpg');
  background-size: cover;
}




@media(max-width:601px) {
   .snavfix {
       top: 50px;
   }
}