<!-- [scroll]="0" css1="nav" css2="navfixed" -->

<md-toolbar class="navfixed" color="primary">
<!-- <md-toolbar class="row navcontent">     -->
<div class="navcontent">  
    <!-- <button md-button style="max-width:30px; min-width:55px" (click)="toggle($event)">  -->
    <div style="width: 33.3%; margin-left:5px ">

        <button md-button style="max-width:20px; min-width:55px" (click)="toggle($event)">  
            <i class="material-icons bar" style="cursor:pointer;width:24px" *ngIf="nav">menu</i>
            <i class="material-icons bar" style="cursor:pointer;width:24px" *ngIf="back">arrow_back</i>
        </button> 
        <!-- <button md-button color="primary" (click)="toggle($event)">Side Drawer</button>  -->
    </div>
    <div  style="width: 33.3%"> 
        <p style="margin:0 auto; text-align: center;" >Slogen</p>
    </div>
    <div  style="align-items:flex-end; width: 33.3%; margin-right:10px" >
        <md-slide-toggle style="padding-top:5px" (click)="change($event)"></md-slide-toggle>
    </div>
</div> 
</md-toolbar>

