<div class="logindiv">
    <form class="loginform">
        <div class="logo">
            <img class="logoimg" src="{{logoPath}}">
        </div>
        <div class="type">
             <!-- <input  type="text">
            <input class="myp"  type="text">
            Forget Password?  -->
               <!-- <md-input-container class="example-full-width"> -->
    <!-- <span mdPrefix>+1 &nbsp;</span>
    <input type="tel" mdInput placeholder="Telephone"> -->
        <!-- <md-input-container class="text">
                <input mdInput placeholder="ID/Email" >
        </md-input-container>
        <md-input-container class="text">
                <input mdInput placeholder="Passworld">
               <md-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </md-error>
        </md-input-container>  
            Forget Password?       -->
            <form class="example-form">
                <!-- this is for id -->
            <md-input-container class="example-full-width">
                <input mdInput placeholder="Email" [formControl]="emailFormControl">
                <md-error *ngIf="emailFormControl.hasError('pattern')">
                Please enter a valid email address
                </md-error>
                <md-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </md-error>
            </md-input-container>

            <!-- this is for password -->
            </form>




        </div>
        <div class="button">
        <button class="loginbutton"> Login </button>
        <br>
        <hr class="style1">
             Don't have account, Sign up
        </div>
    </form>
</div>