<div class="logindiv">
    <form class="loginform">
        <div class="logo">
            <img class="logoimg" src="{{logoPath}}">
        </div>
        <div class="type">
             <input  type="text">
            <input class="myp"  type="text">
            Forget Password? 
               <!-- <md-input-container class="example-full-width"> -->
    <!-- <span mdPrefix>+1 &nbsp;</span>
    <input type="tel" mdInput placeholder="Telephone"> -->
  
        
        </div>
        <div class="button">
        <button class="loginbutton"> Login </button>
        <br>
        <hr class="style1">
             Don't have account, Sign up
        </div>
    </form>
</div>