<md-card class="content"> 

  <div class="row">
    <div class=" col-xs-12 col-sm-10" >
      <md-card class="blog" style="margin-top:10px">
        <img md-card-image src="assets/img/word.jpeg" style="height:300px;">
          <md-card-content style="text-align:start; margin-top:10; margin-bottom:10px" >
          <H1> This is the first </H1>
          </md-card-content>
          <md-card-content style="text-align:start;">
            <p> Write your thesis. ...
Write the first draft of the essay. ...
Divide your thoughts into paragraphs. ...
Try to follow a pattern of 'Claim' followed by 'Evidence'. ...
Write the second draft. ...
Use transitional phrases. ...
Edit the draft.</p>
          </md-card-content>
          <md-card-footer style="display:flex; justify-content:flex-end">
            <button md-button color="accent">
              <i class="material-icons" color="accent">thumb_up</i>
              120
            </button>
          </md-card-footer>
      </md-card>
    </div>
  </div>
</md-card>