<div #container>
  <mat-card #my  class="content" id="cnm"> 
    <div class="row">
      <div class=" col-xs-12 col-sm-10" >
        <mat-card *ngFor="let blog of blogs" class="blog" (click)="open($event, blog)">
            <img *ngIf="blog.img && img_c" mat-card-image [src]="blog.img" class="blogimg" style="margin-bottom:0">
            <mat-card-content class="header" style="word-wrap: break-word; ">
              <H1> {{blog.title}}  </H1>
            </mat-card-content>
                <mat-card-content style="margin-bottom:0px; color:gray; padding:5px; padding-left:0px">
              {{blog.time|date}}
            </mat-card-content>
            <mat-card-content style="word-wrap: break-word; ">
              {{blog.abstract}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
