.content {
    text-align: center;
    box-shadow: none;
    .col-sm-10 {
         max-width: 750px;
         margin: 0 auto;
    }

}
.blog {
    margin-top:30px;
    cursor:pointer;
    .blogimg {
        height:300px;
    }
    .header {
        margin-top:20px; 
        // margin-bottom:5px
        
    }

    md-card-content {
        text-align:start;
    }
    md-card-footer {
        display:flex; 
        justify-content:flex-end
    }
    
}
