
<div class="row" [heightmax]="110" style="margin:0">
  <div class=" col-xs-12 col-sm-10">
<md-card *ngFor="let blog of blogs" class="blog" style="margin-top:10px; box-shadow:none">
  <md-card-content style="margin-bottom:0px; color:gray; padding:5px; padding-left:0px">
    {{blog.time|date}}
  </md-card-content>
        <md-card-content class="header" style="word-wrap: break-word; ">
          <H1> {{blog.title}}  </H1>
        </md-card-content>

        <img *ngIf="blog.img " md-card-image [src]="blog.img" class="blogimg" style="margin-bottom:0">
        
   
        <md-card-content style="word-wrap: break-word;" [innerHtml]="blog.content">
        
      </md-card-content>

  </md-card>
</div>

