<!-- <div class="outside">
  <div class="row" id="cnm" #blog style="margin-bottom:80px;  ">
    <div class=" col-xs-12 col-sm-10">
      <mat-card *ngFor="let blog of blogs" class="blog" style="margin-top:10px;  ">
        <mat-card-content style="margin-bottom:0px; color:#808080; padding:5px; padding-left:0px">
          {{blog.time|date}}
        </mat-card-content>
        <mat-card-content class="header" style="word-wrap: break-word; ">
          <H1> {{blog.title}} </H1>
        </mat-card-content>

        <img *ngIf="blog.img " mat-card-image [src]="blog.img">


        <mat-card-content style="word-wrap: break-word;margin-bottom: 80px;" [innerHtml]="blog.content">
          
        </mat-card-content>
        <disqus [identifier]="pageId" class="disqus"></disqus>
      </mat-card>
    </div>
  </div>
</div> -->