<mat-card style="box-shadow:none; padding:0; padding-bottom:50px; background-color:#F8F8F8  ">
        <!-- background:#f5f5f5 -->
    <div class="title">


    </div>

    <div class="container category" style="margin-top:-240px;">
        <div class="row">
            <div class = "col-md-12 col-sm-12 col-xs-12">
                <mat-card  id="profile">
                    <div id="profile-img">
                        <img class="image-responsive"  src="../../assets/img/profile.png" alt="Photo of a Shiba Inu" >
                    </div>
                    <div id="profile-right" style="width:100%">
                        <div class="slant"></div>
                        <div class="content " >
                            <h1>Chen Lee</h1> 
                            <h6>Software Engineer & Web Developer</h6>
                            <ul id="contact">
                                <li>
                                    <i class="material-icons md-36" style="color:white">email</i>
                                    <span >lichenyu119@gmail.com</span>
                                </li>
                                <li>
                                    <i class="material-icons md-36" style="color:white">public</i>
                                    <span>www.devchen.me</span>
                                </li>
                            </ul>
                           
                        </div>    
                    </div>
                </mat-card>
            </div>
        </div>
    </div>


    <div class="container category" >
        <div class="row">
            <div class="col-md-12">
                <div class="content" id="summary">
                    <p>Hello! I’m Chen Lee. Senior Web Developer with over 2 years of experience
                            specializing in front end development. Experienced with all stages of the
                            development cycle for dynamic web projects.Having an in-depth knowledge
                            including advanced HTML5, CSS, CSS3, SASS, LESS, JSON, XML, Java, JavaScript,
                            JQuery, Angular JS. Strong background in management and leadership.</p>
                </div>
            </div>

        </div>
          
    </div>

 <div class="container category-ns " >
    <div class="subtitle">
        
        <i class="material-icons md-36"  >build</i>
        <h3>SKILLS</h3>
    </div> 
    <div class="content">
           
    <div class="row">
      
        <div class="col-md-6 col-sm-6 col-xs-12">

            <div class="skill">
                <div>
                    C++
                </div>
                <div class="percentage percentage-90">

                </div>
            </div>

            <div class="skill">
                <div>
                    Typescript
                </div>
                <div class="percentage percentage-90">

                </div>
            </div>

            <div class="skill">
                <div>
                    Javascript
                </div>
                <div class="percentage percentage-90">
    
                </div>
            </div>
            
            <div class="skill">
                <div>
                    Angular
                </div>
                <div class="percentage percentage-90">
    
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="skill">
                    <div>
                        Python
                    </div>
                    <div class="percentage percentage-20">
    
                    </div>
                </div>

        </div>
    </div>

</div>
 </div>
 <div class="container category-ns">
    <div class="subtitle">
        <i class="material-icons md-36"  >account_balance</i>
        <h3>Education</h3>
    </div> 






    <!-- <div class="time-box">
        <div class="box-left">
            <h6> Professional Year Program	</h6>	
        </div>		
        <div class="box-right">
            <p>  Feb 2017 – Nov 2017</p>
        </div>
        <div class="box-content">
            <p>Performance Education, Sydney
                Key Subjects: Australian Business Culture and Environment, Achieving Career Success, Australian Workplace Skills and Professional Business Communication</p>
        </div>
    </div>
    
    <div class="time-box">
        <div class="box-left">
            <p>Master of Information Technology					       				
        </div>
        <div class="box-right">
            Feb 2015 – Aug 2017
        </div>
        <div>
            <p>University of New South Wales</p>
        </div>
    </div>
    <div class="time-box">
        <div class="box-left">
            <p>Bachelor of Computer Networking
        </div>
        <div class="box-right">						       			
            Sep 2010 – Aug 2014
        </div>
        <div class="box-content">
            <p>Nanjing Forestry University 
        </div>
    </div> -->
</div>
<div class="container category-ns">
    <h3>WORK EXPERIENCE</h3>
    
    <div class="time-box">
        <div class="box-left">Front-end Developer TravelEdge Corporate</div>
        <div class="box-right">Aug 2017 – Oct 2017</div>
        <div class="box-content">
            ∙  Using Angularjs to upgrade company website to apply material website design style.
            ∙  Responsible for website user interface design and coding (CSS3, SASS, HTML).
            ∙  Deploy new function/page to the current company website.
            ∙  Using Node.js/Typescript to upgrade backend API
        </div>
    </div>

    <div class="time-box">
        <div class="box-left">
            Barista
            Jamaica Blue, Sydney
        </div>														
        <div class="box-right">
            Mar 2017 – Nov 2017
        </div>
        <div class="box-content">
            ∙  Responsible for coffee making and always provide friendly and warm customer service.
            ∙  Make great coffee in a fast-paced environment, more than 6kg a day.
            ∙  Worked effectively as part of a team of 5 to meet customer requirement.
        </div>
    </div>

    <div class="time-box">
        <div class="box-left">
            Photographer & Designer
            Smart Cookie Discount Toys				
        </div>
        <div class="box-right">	Dec 2016 – Mar 2017</div>
        <div class="box-content">
        ∙  Responsible for all stuff related to toys’ product photography including lighting, equipment setting, photo designing, post-processing (Photoshop, Lightroom).
        Photo Reference: https://www.flickr.com/people/140694295@N07/
        </div>
    </div>
    <div class="time-box">
        <div class="box-left">
            Barista, Waiter & Cashier
            Michael's Café, Sydney
        </div>													
        <div class="box-right">
            Feb 2015 – Dec 2016
        </div>
        <div class="box-content">
            ∙  Developed communication and interpersonal skill by maintaining strong relationships with customers and co-worker.
            ∙  Provided excellent customer service by remembering regular customer names and order under working pressure with selling more than 150 cups of coffee a day.
            ∙  Worked effectively as part of a team of 3 to meet customer requirement.
        </div>
    </div>
</div>
<div class="container category-ns">
    <h3>PERSONAL PROJECT</h3>
    <div class="time-box">
        <div class="box-left">Blog System	(www.devchen.me)	</div>										
        <div class="box-right"> Sep 2017 – Now</div>
        <div class="box-content">
            ∙  Using Angular 4, Angular Material, Bootstrap, CSS3 and HTML5 to build the frontend of the website.
            ∙  Using Node.js and Koa2 to build the backend of the blog system. RESTful standard is implemented and responsive design.
            ∙  The website was deployed to AWS.
            Code Reference: https://github.com/icestanding/Angular2-blog
        </div>
    </div>
</div>
<div class="container category-ns" id="bottom">
    <h3>UNIVERSITY PROJECT</h3>
        <div class="time-box">
            <div class="box-left"> UNSW Human Computer Interaction course	</div>										
            <div class="box-right"> Feb 2016 – Jun 2016</div>
            <div class="box-content">
                    ∙  Master UI design analysis and design method. Using cognitive approach to focusing on matching user goals with computer technologies via a property website design project.
                    ∙  Master information processing system, models of interaction, strategies for and process of design and evaluation of UI design
            </div>
        </div>
        <div class="time-box">
            <div class="box-left"> UNSW Human Computer Interaction course	</div>										
            <div class="box-right"> Feb 2016 – Jun 2016</div>
            <div class="box-content">
                    ∙  Master UI design analysis and design method. Using cognitive approach to focusing on matching user goals with computer technologies via a property website design project.
                    ∙  Master information processing system, models of interaction, strategies for and process of design and evaluation of UI design
            </div>
        </div>
        <div class="time-box">
            <div class="box-left"> UNSW Advanced C++ programming course</div>										
            <div class="box-right"> Aug 2016 – Nov 2016</div>
            <div class="box-content">
                    ∙  Completed a comprehensive detailed techniques’ implementation of C++ through 5 assignments.
                    ∙  Mastered multithreading programming, generic-type programming, STL library, Dynamic memory management, Object Oriented Programming and so on so forth.
                    Code Reference: 
                    https://github.com/icestanding/6771ass2
                    https://github.com/icestanding/6771ass4
                    https://github.com/icestanding/6771ass5            </div>
        </div>
        
        <div class="time-box">
            <div class="box-left"> UNSW Software construction and tools	course	</div>										
            <div class="box-right"> Aug 2015 – Nov 2015</div>
            <div class="box-content">
                    ∙  Mastered three script languages including JavaScript, Python, Perl, Shell through enormous coding work (including a small social network website).
                    ∙  Mastered version control and configuration management, programming for reliability, testing and debugging techniques through programming assignments and a lot of labs.
            </div>
        </div>
    </div>
</mat-card>
