<mat-card style="box-shadow:none; padding:0; padding-bottom:50px; background-color:#F8F8F8  ">
        <!-- background:#f5f5f5 -->
    <div class="title">


    </div>

    <div class="container category" style="margin-top:-240px;">
        <div class="row">
            <div class = "col-md-12 col-sm-12 col-xs-12">
                <mat-card  id="profile" [ngClass]="background_theme">
                    <div id="profile-img">
                        <img class="image-responsive"  src="../../assets/img/profile.png" alt="Photo of a Shiba Inu" >
                    </div>
                    <div id="profile-right" style="width:100%">
                        <div class="slant" [ngClass]="border_theme"></div>
                        <div class="content " >
                            <h1>Chen Lee</h1> 
                            <h6>Software Engineer & Web Developer</h6>
                            <ul id="contact">
                                <li>
                                    <i class="material-icons md-36" style="color:white">email</i>
                                    <span >lichenyu119@gmail.com</span>
                                </li>
                                <li>
                                    <i class="material-icons md-36" style="color:white">public</i>
                                    <span>www.devchen.me</span>
                                </li>
                            </ul>
                           
                        </div>    
                    </div>
                </mat-card>
            </div>
        </div>
    </div>


    <div class="container category" >
        <div class="row">
            <div class="col-md-12">
                <div class="content" id="summary">
                    <p style=" font-weight:450; font-size:1.3em">A graduate Solutions-driven developer who can offer:</p>
                    <p>  ∙  Three years’ experience in programming in terms of Object-oriented programming & design, relational database implementation & optimization, Application programming, Web Development, UI interface design, data compression & search, data mining and machine learning.</p>
                     <p>   ∙  Strong analytical skills and problem-solving skills</p>
                     <p>  ∙  Extensive experience in debugging and program optimization (low latency).</p>
                     <p>   ∙  Excellent communication and interpersonal skills.</p>
                     <p>∙  Well-versed in all phases of the software development lifecycle, with a strong working knowledge of algorithms and data structures.</p>
                </div>
            </div>

        </div>
          
    </div>

 
 <div class="container category-ns">
    <div class="subtitle">
        <i class="material-icons md-36"  >account_balance</i>
        <h3>Education</h3>
    </div> 
    <div class= "timeline">
        <div class="bucket" style="margin-top:0px">
            <div class="left-side">
                <div class="message">
                    <div class="detail" >
                        <h4>Profession Year</h4>
                        <p> Feb 2017 - Dec 2017 </p>
                        <p> Professional Education</p>

                    </div>
                    <div class="time">
                        <div class="connect">
                        </div>
                        <div class="connect-l">
                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
        <div class="bucket" >
            <div class="right-side">
                        
            </div>
            <div class="left-side">
                <div class="message-r">
                    <div class="time-r">
                        <div class="connect">
                        </div>
                        <div class="connect-r">
                        </div>
                    </div>
                    <div class="detail" >
                        <h4>Information Technology</h4>
                        <p> Feb 2015 - Dec 2016 </p>
                        <p> University of New South Wales</p>
    
                    </div>
             
                </div>
            </div>
      
        </div>
        <div class="bucket" >
                
            <div class="left-side">
                <div class="message">
                    <div class="detail" >
                        <h4>Computer Networking</h4>
                        <p> Aug 2010 - Aug 2014 </p>
                        <p> Nanjing Forest University</p>
                    </div>
                    <div class="time">
                        <div class="connect">
                        </div>
                        <div class="connect-l">
                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
</div>

<div class="container category-ns " style="margin-top:20px" >
        <div class="subtitle">
            <i class="material-icons md-36"  >build</i>
            <h3>SKILLS</h3>
        </div> 
        <div class="content" id="skill-part">
               
        <div class="row">
          
            <div class="col-md-6 col-sm-6 col-xs-12">
    
                <div class="skill">
                    <div>
                        C++
                    </div>
                    <div class="percentage percentage-85">
    
                    </div>
                </div>
    
                <div class="skill">
                    <div>
                        Typescript
                    </div>
                    <div class="percentage percentage-75">
    
                    </div>
                </div>
    
                <div class="skill">
                    <div>
                        Javascript
                    </div>
                    <div class="percentage percentage-60">
        
                    </div>
                </div>
                
                <div class="skill">
                    <div>
                        Angular
                    </div>
                    <div class="percentage percentage-90">
        
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="skill">
                        <div>
                            Python
                        </div>
                        <div class="percentage percentage-65">
        
                        </div>
                    </div>
    
            </div>
        </div>
    
    </div>
</div>


<div class="container category-ns">
        <div class="subtitle">
            <i class="material-icons md-36"  >work</i>
            <h3>WORK EXPERIENCE</h3>
        </div> 
        <div class= "timeline">
            <div class="bucket" style="margin-top:0px">
                <div class="left-side">
                    <div class="message">
                        <div class="detail" >
                            <h4>Front-end Developer</h4>
                            <p> Aug 2017 - Nov 2017 </p>
                            <p> TravelEdge Corporate</p>
                            <p> Using Angularjs/Angular4  to upgrade company website to apply material website design style. </p>
                        </div>
                        <div class="time">
                            <div class="connect" >
                            </div>
                            <div class="connect-l">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
    
                </div>
            </div>
            <div class="bucket" >
                <div class="right-side">
                            
                </div>
                <div class="left-side">
                    <div class="message-r">
                        <div class="time-r">
                            <div class="connect">
                            </div>
                            <div class="connect-r">
                            </div>
                        </div>
                        <div class="detail" >
                            <h4> Barista</h4>
                            <p> Mar 2017 – Nov 2017</p>
                            <p> Jamaica Blue</p>
                         
                            <p>Responsible formaking great coffee in a fast-paced environment.</p>
        
                        </div>
                 
                    </div>
                </div>
          
            </div>
            <div class="bucket" >
                    
                <div class="left-side">
                    <div class="message">
                        <div class="detail" >
                            <h4>Cafe All Rounder</h4>
                            <p> Feb 2015 - Aug 2016 </p>
                            <p> Michael's Café</p>
                            <p>  Developed communication and interpersonal skill by maintaining strong relationships with customers and co-worker.
                                and provided excellent customer service </p>
                        </div>
                        <div class="time">
                            <div class="connect">
                            </div>
                            <div class="connect-l">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
    
                </div>
            </div>
        </div>
    </div>
    

</mat-card>
