<!-- header contain nav -->
<!--THis is CHen-->
 <header (event)="sidebar()" [ngClass]="mytheme" class="header"></header>       
 <md-sidenav-container [ngClass]="mytheme" style="transform: none !important;"  >
  <md-sidenav  #start2 closed mode="side"  scroll offset="270" css1="snav" css2="snavfix">
    <!--scroll offset='snav.offset' css1="snav.snav" css2="snav.snavfix">-->
    <!--[ngClass]="snav"-->
        <div>First </div>
        <div>Second </div>    
    </md-sidenav>
  <router-outlet> </router-outlet>
</md-sidenav-container>   
<footer (colorchange)="themechange()"  ></footer>  
<!-- footer -->`

