// adjust content between header, footer

.snav {
    position: absolute;
    top: 0px;
    border:1px solid black; 
    left:0px;
    height: 100%;
}
.snavfix {
    position: fixed;
    top: 60px;
    border:1px solid black; 
    left:0px;
    height: 100%;
}
.mainframe {
    transform: none !important;
}
.mainframefix {
     transform: none !important;
    margin-top:60px;
}


