// adjust content between header, footer
.header {
    width: 100%;
}
.snav {
    position: absolute;
    top: 0px;
    border:1px solid black; 
    left:0px;
    height: 100%;
}
.snavfix {
    position: fixed;
    top: 36px;
    border:1px solid black; 
    left:0px;
    height: 100%;
}
.test {
    // height: 300px;
    // background: url('/../../../../../image/sample.jpg')  center;
}


