
<!--<quill-editor #editor></quill-editor>-->
 <!-- <div>   <a [routerLink]="['../']">main page</a></div> -->

Welcome to admin
<button md-button (click)="logout()">logout</button>
<router-outlet></router-outlet>
<!-- This is fking admin -->
<!--<button md-raised-button color="primary" class="loginbutton" (click)="submit()"> submit </button>-->
<!--<button md-raised-button color="primary" class="loginbutton" (click)="()"> Logout </button>-->

<!--<button md-raised-button color="primary" class="loginbutton" (click)="login()"> Login </button>
<button md-raised-button color="primary" class="loginbutton" (click)="logout()"> Logout </button>-->
