
<ng-content select="[quill-editor-toolbar]"></ng-content>

<md-input-container class="text" >
    <input mdInput placeholder="Title" [(ngModel)]="title">
</md-input-container>  
<md-select placeholder="Category" [(ngModel)]="category">
    <md-option *ngFor="let food of foods" [value]="food.value" >
        {{ food.viewValue }}
    </md-option>
</md-select> 

<md-card style="width:100%">
<button md-raised-button color="primary" class="loginbutton" (click)="submit()"> submit </button>
</md-card>