.blogs {
    display: flex;
    flex-direction: row;

}
.blog {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    .title:hover {
        background-color: gray;
    }
    margin-top:10px;
}