<md-card class="blog" style="margin-top:10px"  [@bloganimation]='state'  (click)="animateMe()">
        <img md-card-image src="assets/img/word.jpeg" style="height:300px;">
          <md-card-content style=" margin-top:10; margin-bottom:10px" >
          <H1 > This is the first </H1>
          </md-card-content>
          <md-card-content >
                  <p> Write your thesis. ...
                  Write the first draft of the essay. ...
                  Divide your thoughts into paragraphs. ...
                  Try to follow a pattern of 'Claim' followed by 'Evidence'. ...
                  Write the second draft. ...
                  Use transitional phrases. ...
                  Edit the draft.</p>
          </md-card-content>
          <!-- <md-card-footer>
            <button md-button color="accent">
              <i class="material-icons" color="accent">thumb_up</i>
              120
            </button>
          </md-card-footer> -->
      <!-- <img md-card-image src="../image/logo1.jpg" style="height:300px;"> -->
  </md-card>


