
<ng-content select="[quill-editor-toolbar]"></ng-content>

<mat-input-container class="text" >
    <input matInput placeholder="Title" [(ngModel)]="title">
</mat-input-container>  
<mat-select placeholder="Category" [(ngModel)]="category">
    <mat-option *ngFor="let food of foods" [value]="food.value" >
        {{ food.viewValue }}
    </mat-option>
</mat-select> 

<mat-card style="width:100%">
<button mat-raised-button color="primary" class="loginbutton" (click)="submit()"> submit </button>
<input type="file" #fileInput placeholder="Upload file..." />
<!-- <button type="button" (click)="upload()">Upload</button> -->
</mat-card>