@import '~@angular/material/theming';

// import custome font later
// @font-face {
//     font-family: opensans_l;
//     src: url('assets/font/Open_Sans/OpenSans-Light.ttf');
// }
// $custom-typography: mat-typography-config(
//     $font-family: 'opensans_l'
// );

// @include angular-material-typography($custom-typography);
@include mat-core();

.main-theme {
$my-app-primary: mat-palette($mat-grey, 50);
$my-app-accent:  mat-palette($mat-blue, 700);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-background: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);


@include angular-material-theme($my-app-theme);
}
// $mat-cyan, 600
.alternate-theme {
$my-app-primary: mat-palette($mat-purple, 700);
$my-app-accent:  mat-palette($mat-blue, 700);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-background: mat-palette($mat-deep-orange);
$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);


@include angular-material-theme($my-app-theme);
}

